@import "tailwindcss";

@theme {
  --font-sans: "Manrope", sans-serif;
  --font-serif: "Playfair Display", serif;
  
  --color-ice-50: #f0f9ff;
  --color-ice-100: #e0f2fe;
  --color-ice-200: #bae6fd;
  --color-ice-300: #7dd3fc;
  --color-ice-900: #0c4a6e;
  
  --animate-shimmer: shimmer 2s linear infinite;
  
  @keyframes shimmer {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(100%);
    }
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #09090b;
}
::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}

/* Lenis-like smooth scroll behavior for html */
html {
  scroll-behavior: smooth;
}